<% include ./partials/header %>



<div class = "row">


        
<div class = "center_items">
<h1 class = "mb-4">New List</h1>

<form action = "/" method = "POST" enctype = "multipart/form-data">


	<div class = "form-group">
		<label for = "name">Name</label>
		<input class="form-control"  type = "text" name = "name">
	</div>

	<div class = "form-group">
		<label for = "eventdate">When's the event?</label>
			<input class = "form-control" id = "datetime" name = "eventdate">

		<script>
			$("#datetime").datetimepicker();
		</script>

	</div>

	<div class = "form-group">
		<label for = "image">Image</label>
		<input type = "file" id="image" name = "image" accept = "image/*" required>
	</div>
	
	<div class="form-group">
	    <label for="location">Location</label>
	    <input class="form-control" type="text" name="location" id="location" placeholder="Yosemite National Park, CA" required>
	</div>

	<div class = "form-group">
		<label for = "description">Description</label>

		<textarea class="form-control"  name="description"></textarea>
	</div>


    <button class = "btn btn-outline-dark btn-light">Submit!</button>

</form>


</div>

</div>

<% include ./partials/footer %>